# dependencies
/node_modules
/.pnp
.pnp.js

# yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks

# Git repository meta information
**/.git

npm-debug.log
build
*.md
.gitignore